* {
  box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6,author {
    font-family: 'Lato', sans-serif;
}
body {
    margin-left: 30px;
    background-color: #EDF3FD;
    letter-spacing: 2px;
    font-size: calc(.125em + 0.6vmin + 0.6vmax);
    }
h1 {
    letter-spacing: 8px;
    font-size: calc(2.5em + 1.5vmin + 1.5vmax);
    }
h2 {
    letter-spacing: 4px;
    font-size: calc(.5em + 0.6vmin + 0.6vmax);
    font-variant-caps: small-caps;
    }
h3 {
    letter-spacing: 2px;
    font-size: calc(.1em + 0.6vmin + 0.6vmax);
    }

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

td {
  height: 1em;
}

th {
  height: 2em;
}

page_title {
    letter-spacing: 4px;
    font-size: calc(1.2em + 0.6vmin + 0.6vmax);
    font-variant-caps: small-caps;
    text-align: center;
}
section_title {
    letter-spacing: 4px;
    font-size: calc(.5em + 0.6vmin + 0.6vmax);
    font-variant-caps: small-caps;
    padding-bottom: 12px
}
paper {
    letter-spacing: 2px;
    font-size: calc(.2em + 0.6vmin + 0.6vmax);
    color: #53566A;
    font-weight: bold;
    }
paper_status {
    font-size: calc(.075em + 0.5vmin + 0.5vmax);
    color: #696969;
    }
author {
    font-size: calc(.1em + 0.6vmin + 0.6vmax);
    color: #53566A;
    letter-spacing: 0.2px
    }
paper_info {
  font-size: calc(.1em + 0.5vmin + 0.5vmax);
  margin-top: 3px;
}

abstract {
  line-height: 1.25;
  padding-top: 1vw;
  font-size: calc(.15em + 0.5vmin + 0.5vmax)
}


.sample-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 22vw;
    background-image: url(images/DSC_0100.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    }
.sample-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: max(10vh, 80px);
    width: 100%;
    background-color: #A1A4BE;
    background-position: center;
    background-size: cover;
    font-size: calc(.1em + 0.6vmin + 0.6vmax);
    color: white;
    text-align: center;
    padding: max(4vh, 40px);;
    flex-shrink: 0;
    z-index: 10;
    }
.sample-header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: MidnightBlue;
    opacity: 0.3;
    }
.sample-header-section {
    position: relative;
    padding: 2vw 0 0;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    }

.sample-section-wrap {
    position: relative;
    background-color: white;
    flex: auto;
    margin-bottom: max(11vh, 88px);
    }
.sample-section {
    position: relative;
    margin-top: 20vw;
    margin-left: calc(20% + min(70px, 3%));
    margin-right: calc(15% + min(70px, 3%));
    text-align: left;
    }

.navigation{
    width: 20%;
    background: #53566A;
    height: 100%;
    position: absolute;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 3;
    font-variant-caps: small-caps;
    font-size: calc(.2em + 0.6vmin + 0.6vmax);
    letter-spacing: 0.8vw;
    padding-right: 0.5vw;
    color: #A1A4BE
}


a:link {
  color: #A1A4BE;
  /*background-color: transparent;*/
  text-decoration: none;
}

a:visited {
  color: #A1A4BE;
  /*background-color: transparent;*/
  text-decoration: none;
}

a:hover {
  color: #BCC2E0;
  /*background-color: transparent;*/
  text-decoration: none;
}

a:active {
  color: white;
  /*background-color: transparent;*/
  text-decoration: none;
}

a.current {
    color: #EDF3FD;
    }

.navigation ul {
  list-style: none;
  position: sticky;
  top: max(50px, 5%);
}



p {
    line-height: 2;
    padding-top: 2vw;
    }


section {
    padding-top: 4%;
    padding-bottom: 8%;
    }

.contact {
    border-style: ridge;
    border-color: #A1A4BE;
    border-width: 8px;
    line-height:1;
    }

.btn {
    padding: 1vw 1.2vw;
    text-align: center;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-variant-caps: small-caps;
    font-size: calc(.3em + 0.6vmin + 0.6vmax);
    border: none;
    background-color: #53566A;
}

.btn:hover {
    color: #BCC2E0;
    background-color: #A1A4BE;
}

img {
  float: left;
  padding: 1vw 1vw ;
}

@media screen and (max-width: 1060px){
    .navigation{
        width: 100%;
        position: unset;
        margin-top: 20%;
    }

    .navigation ul {
        position: unset;
        padding: 0;
    }

    .navigation ul > li {
        display: inline-block;
    }

    .sample-section {
        margin-top: 0px;
        margin-left: min(70px, 3%);
        margin-right: min(70px, 3%);;
    }

    h1 {
        font-size: 11pt;
        margin: 0;
    }

    h2 {
        font-size: 10pt;
        margin: 0;
    }

    .column {
        width: 100%;
    }

}
